<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.MenuMapper">

    <select id="listMenusByUserInfoId" resultType="com.example.blog.entity.Menu">
        select distinct
            m.id,
            name,
            path,
            component,
            icon,
            is_hidden,
            parent_id,
            order_num
        from t_user_role ur
            left join  t_role_menu rm on ur.role_id = rm.role_id
            left join t_menu m on rm.menu_id = m.id
        where user_id = #{userInfoId}
    </select>
</mapper>

